.container {
  height: 100%;
  display: flex;
  justify-content: center;
}
.movies {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  gap: 100px;
  padding: 50px;
  width: 80%;
  padding-top: 70px;
}
