.App {
  width: 100%;
  max-width: 640px;
  margin: 20px auto;
  text-align: center;
  background-color: rgb(113, 169, 233);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  font-weight: 900;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 80%;
}
.title {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset {
  height: 40px;
  justify-self: flex-end;
}
